*{
	margin: 0;
	padding: 0;
}
body{
	position: relative;
	font-family: '黑体';
}
.box .address .opt1{color: red;}
#newaddr{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 998;
	background-color: #ccc;
	opacity: .2;
}
#dialog{
	position: absolute;
	left:0;
	right:0;
	margin: 0 auto;
	top:239px;
	z-index: 999;
	width: 690px;
	height: 419px;
	box-shadow: 0 0 8px #8a8a8a;

}
.main{width: 690px;overflow: hidden;}
.inner{width: 650px;margin: 0 auto;overflow: hidden;}
.boxxin{width: 100%;height: 38px;border-bottom: 2px solid #000;margin-top: 20px;}
.boxxin span{
	font-size: 24px;
}
.boxxin a{
	display: block;
	float: right;
	width: 12px;
	height: 12px;
	font-size: 1.2rem;
	text-decoration: none;
	background-image: url(../images/guanbi.png);
	background-repeat: no-repeat;
}
.box p{font-size: 16px;color: #292e32}
.box span{color: #f20000}
#shouhuo,#dianhua,#add{
	display: block;
	float: right;
}
.boxname{
	float: left;
	width: 210px;	
	margin-top: 20px;
}
.boxname input{
	display: block;
	width: 98%;
	height: 26px;
}
.boxphone{
	float: right;
	width: 430px;
	margin-top: 20px;
}
.boxphone input{
	display: block;
	width: 98%;
	height: 26px;
}
.boxadd{
	float: left;
	overflow: hidden;
	width: 100%;
	margin-top: 20px;
}
.address{
	display: block;
	float: left;
	width: 210px;
	height: 26px;
	margin-left: 10px;
	appearance:none;
  	-moz-appearance:none;
  	-webkit-appearance:none;
  	background-image: url(../images/xiala_22.jpg);
  	background-repeat: no-repeat;
  	background-position: right 0;
}
.address:nth-child(2){margin-left: 0;}



.box1{
	clear: both;
	width: 650px;
	padding-top: 19px;
}
.box1 h3{
	font-family: "黑体";
	font-size: 16px;
	color: #292e32;
	float: left;
	font-weight: 100;
}
.box1 span{
	color: #f50200;
}
.box1 p{
	float: right;
	font-family: "黑体";
	font-size: 16px;
	color: #f30002;
}
.box1 #deat{
	width: 646px;
	height: 24px;
	margin-top: 6px;
	font-family: "黑体";
	font-size: 16px;
	color: #b8bfc9;

}
.box2{
	float: left;
	width: 430px;
	margin-top: 19px;
}
.box2 h3{
	font-family: "黑体";
	font-size: 16px;
	color: #292e32;
	float: left;
	font-weight: 100;
}
.box2 #add{
	width: 426px;
	height: 24px;
	margin-top: 6px;
	font-family: "黑体";
	font-size: 16px;
	color: #b8bfc9;
}
.box3{
	float: left;
	width: 210px;
	margin-left: 10px;
	margin-top: 19px;
}
.box3 h3{
	font-family: "黑体";
	font-size: 16px;
	color: #292e32;
	float: left;
	font-weight: 100;
}
.box3 .home{
	display: block;
	width: 66px;
	height: 26px;
	background-color: #fff;
	clear: both;
	float: left;
	border: 1px solid #babeca;
	text-align: center;
	line-height: 26px;
	margin-top: 6px;
	margin-right: 3px;
}
.box3 .company{
	display: block;
	width: 66px;
	height: 26px;
	background-color: #fff;
	float: left;
	border: 1px solid #babeca;
	text-align: center;
	line-height: 26px;
	margin-top: 6px;
	margin-right: 3px;
}
.box3 .pthome{
	display: block;
	width: 66px;
	height: 26px;
	background-color: #fff;
	float: left;
	border: 1px solid #babeca;
	text-align: center;
	line-height: 26px;
	margin-top: 6px;
}
.box4{
	float: left;
	margin-top: 47px;
	font-family: "黑体";
	font-size: 16px;
	color: #292e32;
}
.box5{
	float: right;
	margin-top: 30px;
}
.box5 input{
	width: 210px;
	height: 52px;
	border: none;
	background-color: #fdd900;
	font-family: "黑体";
	font-size: 20px;
	font-weight: 600;
}